*{
    margin: 0;
    padding: 0;
}
html
{
    background: white;
}
.webgl
{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/abrilfatface/v18/zOL64pLDlL1D99S8g8PtiKchq-dmjQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
    font-family: 'Modak';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/modak/v16/EJRYQgs1XtIEskMA-hQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
    font-family: 'Schoolbell';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/schoolbell/v11/92zQtBZWOrcgoe-fgnJIZxUa6w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
.wrapper {
    z-index: 0;
    padding:auto;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 6.25vh 6.25vh 6.25vh 6.25vh 25vh 50vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.titre{
    grid-area: 5 / 1 / 6 / 2;
    font-family: "Schoolbell", normal;
    font-size: 15vh;
    text-align: center;
    justify-content: center;
    align-content: center;
    animation-name: fonduentree;
    animation-duration: 1s;
}

.Bandeau{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0.25fr repeat(2, 1fr);
    grid-template-rows: 100vh;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
    color: white;
    -webkit-text-stroke: 1px black;
}

.Fiches{
    height: 6.25vh;
    display: flex;
    font-size: 3vh;
    font-family: 'Modak', cursive;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: width 0.5s;
    cursor: pointer;
}

canvas {
    background-color: #11ffee00; ;
    animation: planeteentree 1s ease-in-out;
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    opacity: 100%;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    transition: background 0.2s ease,
}

#Scoreboard{
    background-color: #05E500;
    grid-area: 1 / 1 / 2 / 2;
    animation-duration: 1s;
    animation-name: glissement;
    animation-iteration-count: 1;
    text-decoration: none;
}

#Scoreboard:hover{
    height: 7vh;
    -webkit-box-shadow: -3px 13px 28px -7px #9C9C9C; 
    box-shadow: -3px 13px 28px -7px #9C9C9C;
}
#Scoreboard:visited{
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 1px black;
}
#Home{
    grid-area: 1 / 3 / 2 / 3;
    background-color: #00a725;
    animation-duration: 0.7s;
    animation-name: glissement;
    animation-iteration-count: 1;
    text-decoration: none;
    text-decoration: none;
}
#Home:hover{
    height: 7vh;
    -webkit-box-shadow: -3px 13px 28px -7px #9C9C9C; 
    box-shadow: -3px 13px 28px -7px #9C9C9C;
}
#Sponsor{
    background-color: #04BF00;
    grid-area: 1 / 2 / 2 / 3;
    animation-duration: 0.8s;
    animation-name: glissement;
    animation-iteration-count: 1;
    text-decoration: none;
}

#Sponsor:hover{
    height: 7vh;
    -webkit-box-shadow: -3px 13px 28px -7px #9C9C9C; 
    box-shadow: -3px 13px 28px -7px #9C9C9C;
}
#Sponsor:visited{
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 1px black;
}
#Profil{
    background-color: #076604;
    grid-area: 1 / 5 / 2 / 5;
    animation-duration: 0.5s;
    animation-name: glissement;
    animation-iteration-count: 1;
    text-decoration: none;
}
#Profil:hover{
    height: 7vh;
    -webkit-box-shadow: -3px 13px 28px -7px #9C9C9C; 
    box-shadow: -3px 13px 28px -7px #9C9C9C;
}
#Profil:visited{
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 1px black;
}
#About{
    background-color: #048a02;
    grid-area: 1 / 4 / 2 / 4;
    animation-duration: 0.6s;
    animation-name: glissement;
    animation-iteration-count: 1;
    text-decoration: none;
}
#About:hover{
    height: 7vh;
    -webkit-box-shadow: -3px 13px 28px -7px #9C9C9C; 
    box-shadow: -3px 13px 28px -7px #9C9C9C;
}
#About:visited{
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 1px black;
}


@keyframes glissement {
    from{
        transform: translateY(-6.25vh);
        
    }
    to {
        transform: translateY(0vh);
    }
}